body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  padding: 1rem 5rem;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar{
  display: flex;
}
.nav-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px
}
.nav-item{
  list-style: none;
  font-weight: 600;
  color: rgb(58, 55, 55);
  cursor: pointer;
}
.delivery{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.delivery-btn{
  position: relative;
  list-style: none;
  padding: 5px 15px;
  font-weight: 600;
  background-color: rgba(243, 196, 27, 0.313);
  color: rgb(249, 142, 42);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}
.delivery-btn::after{
  content: '';
  position: absolute;
  width: 12px;
  height: 26px;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50% 0% 0% 50%;
}
.delivery-icon{
  font-size: 25px;
  list-style: none;
  color: rgba(44, 44, 202, 0.609);
  cursor: pointer;
}
.intro{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 100%;
  line-height: 1;
}
.intro-text{
  font-size: 46px;
  font-weight: 700;
  max-width: 250px;
  width: 100%;
}
span{
  color: rgb(249, 142, 42);
  font-weight: bold;
}
.lead{
  font-size: 14px;
}
.slider-wrapper{
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  gap: 40px;
}

.slider-slide{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 330px;
}
.slider{
  width: 100%;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  width: 230px;
  height: 250px;
  background-color: #eee;
  border-radius: 20px;
}
.card-img{
  position: absolute;
  top: -45px;
  right: -30px;
  width: 130px;
  height: 130px;
}
.card-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.basket{
  position: absolute;
  padding: 7px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 18px;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.card-content{
  margin: 40px 10px;
}
.item-title{
  font-size: 22px;
}
.item-desc{
  font-weight: 600;
  color: rgb(83, 78, 78);
}
.item-price{
  font-weight: 600;
}
.button-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}
.cart-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 15px 20px;
  background-color: #eee;
  border-radius: 10px;
}
.button-wrapper button{
  border: none;
  cursor: pointer;
}
.basket-btn{
  font-size: 22px;
  cursor: pointer;
}
.cart-button span{
  color: #000;
  font-size: 22px;
}
.order-btn{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color:rgb(249, 142, 42);
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.cart-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 30rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(60, 57, 57, 0.372);
  width: 100%;
  height: 100%;
}
.cart-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.item {
  margin: 1rem 0;
  background-color: #eee;
  padding: 1rem ;
  list-style: none;
  width: 400px;
}

.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.50rem;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity span {
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 1px solid #000;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  font-size: 16px;
  font-weight: bolder;
  color: #000;
}

.actions button:hover,
.actions button:active {
  background-color: rgb(249, 142, 42);
  color: white;
}
@media(max-width:1500px){
  
  .item-title{
    font-size: 18px;
  }
}
@media(max-width:1248px){
  .card{
    width: 200px;
    height: 240px;
  }
  .button-wrapper button{
    width: 350px;
  }
}
@media(max-width:1060px){
  main{
    padding: 1rem 4rem;
  }
  .card-img{
    top: -45px;
    right: -20px;
    width: 110px;
    height: 110px;
  }
  .card{
    width: 180px;
  }
  .button-wrapper button{
    width: 300px;
  }
}
@media(max-width: 840px){
  main{
    padding: 1rem 3rem;
  }
  .intro{
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .intro-text{
    font-size: 38px;
    max-width: 300px;
    width: 100%;
  }
  .lead{
    font-size: 14px;
    width: 390px;
  }
  .button-wrapper button{
    width: 270px;
  }
}
@media(max-width:764px){
  .card-img{
    top: -45px;
    right: -20px;
    width: 90px;
    height: 90px;
  }
  .card{
    width: 150px;
    height: 200px;
  }
  .item-title{
    font-size: 16px;
  }
  .item-desc{
    font-size: 14px;
  }
  .item-price{
    font-size: 12px;
  }
  .basket{
    padding: 5px 7px;
    font-size: 15px;
    right: 15px;
    bottom: 15px;
  }
}
@media(max-width:680px){
  main{
    padding: 1rem 2rem;
  }
  .intro-text{
    font-size: 32px;
    width: 100%;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .delivery{
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .button-wrapper button{
    width: 200px;
  }
  .basket-btn{
    font-size: 18px;
  }
  .cart-button span{
    font-size: 18px;
  }
  .order-btn{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color:rgb(249, 142, 42);
    padding: 10px 13px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}
